body {
  padding: 30px;
  font-family: Arial;
  font-size: 20px;
  color: #262626;
}

blockquote {
    padding: 1px 20px;
    margin: 0 0 10px;
    border-left: 5px solid #eee;
    width: 700px;
}

.button {
    margin: 10px 0px 10px 0px;
    background-color: #6666FF;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

img {
  height: 15px;
  opacity: .5;
}

img, ul, .car_edit {
  display: inline;
  padding-left: 15px;
  margin-bottom: 5px;
}

.car_div {
  margin: 5px;
}

ul > .editLink {
  display: none;
  text-decoration: underline;
  color: #0000FF;
  font-size: 10px;
  margin-left: 10px;
}

#car_div:hover > ul > .editLink {
  display: inline;
}

#year_edit {
  width: 45px;
  margin-right: 5px;
  border: none;
  font-size: 20px;
}

#make_edit  {
  width: 150px;
  margin-right: 5px;
  border: none;
  font-size: 20px;
}

.car_edit > .button{
  font-size: 12px;
  height: 20px;
  width: 50px;
  margin-right: 5px;
  background-color: #6666FF;
  border: none;
  color: white;
  padding: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.car_edit > input:focus {
  outline: none;
  background-color: none;
}

#update_submit {
  margin-left:40px;
}
