body {
  font: 20px "Segoe UI";
  color:  #595959;
}

.button {
    margin: 10px 0px 10px 0px;
    background-color: #6666FF;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.delete_img {
  height: 15px;
  opacity: .5;
}

.delete_img, ul, .car_edit {
  display: inline;
  padding-left: 15px;
  margin-bottom: 5px;
}

ul > .editLink {
  display: none;
  text-decoration: underline;
  color: #0000FF;
  font-size: 10px;
  margin-left: 10px;
}

#car_div:hover > ul > .editLink {
  display: inline;
}

#year_edit {
  width: 45px;
  margin-right: 5px;
  border: none;
  font-size: 20px;
  display: inline-block;
}

#make_edit  {
  width: 200px;
  margin-right: 5px;
  border: none;
  font-size: 20px;
  display: inline-block;
}

.car_edit {
  width: 400px;
  display: inline-block;
}

.button {
  text-align: center;
  color: #999999;
  text-decoration: none;
  padding: 0px;
  background: transparent;
  height: 28px;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  border: 1px solid #cccccc;
}

.car_edit > input:focus {
  outline: none;
  background-color: none;
}

#update_submit {
  margin-left:10px;
}

#car_count {
  text-align: center;
  width: 100%;
}

.make_input, .year_input {
  width: 280px;
  font-size: 20px;
  height: 30px;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  color: #737373;
  outline: none;
  background-color: transparent;
}

.car_input {
  margin-top: 25px;
  margin-left: 10px;
  width: 300px;
}

#back_button {
  height: 50px;
  float: left;
  margin: 10px;
}
