body {
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #464646;
}

a {
  color: #00B7FF;
}

blockquote {
    padding: 1px 20px;
    margin: 0 0 10px;
    border-left: 5px solid #eee;
}

.button {
    margin: 10px 0px 10px 0px;
    background-color: #003300; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1, h2 {
  color: #003300;
}

input:focus {
    border: 3px solid #CCFFCC;
}

.quantity_input {
  width: 50px;
}
